<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./LoginGUI/img/logo.svg">
    <link rel="stylesheet" href="./LoginGUI/css/landingStyle.css">
    <title>LandingPage</title>
</head>
<body>
    <section>
        <div class="waveI1 wave1"></div>
    </section>
    <section>
        <div class="waveI2 wave2"></div>
    </section>
    <section>
        <div class="waveI3 wave3"></div>
    </section>
    <section>
        <div class="waveD1 waveD1"></div>
    </section>
    <section>
        <div class="waveD2 waveD2"></div>
    </section>
    <section>
        <div class="waveD3 waveD3"></div>
        <div class="waveM"></div>
    </section>
</body>
</html>